.shadow {
    display: table;
    max-width: 1100px;
    margin: auto;
    border: 1px solid #efecec;
}
.homepage {
    margin: 15px;
  
}
.container-experence {
    display: flex;
}




@media(max-width:600px){

    .container-experence {
        display: initial;
    }
}