
.shadow {
    display: table;
    max-width: 1100px;
    margin: auto;
    border: 1px solid #efecec;
}
.homepage {
    margin: 15px;
  
}

.container-experence {
    display: flex;
}
.right-container h2 {
    color: #eb5e77;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 8px;
}
.right-container h3 {
    font-family: sans-serif;
    font-size: 17px;
    margin-bottom: -20px;
}
.present {
    justify-content: space-between;
    display: flex;
    margin-top: -24px;
}
.present h5 {
    margin-bottom: -9px;
    margin-top: 11px;
    color: #833d5d;
    font-size: 15px;
}
ul.list-sys li {
    color: red;
    font-size: 20px;
}
span.dark {
    color: black;
    font-size: 17px;
}
ul.list-sys li {
    margin-top: 10px;
    color: red;
    font-size: 20px;
    margin-left: -18px;
}

.language h3 {
    font-size: 15px;
    color: #484646;
}
.left-container {
    margin-left: 60px;
    width: 40%;
}
.left-container h2 {
    color: #eb5e77;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 8px;

}
.right-container {
    width: 60%;
}
.box {
    display: flex;
}
.box h2 {
    color: #383737;
    border-radius: 6px;
    padding: 5px 6px;
    margin-left: 10px;
    font-size: 14px;
    border: 1px solid grey;
    margin-top: 8px;
}
.left-container h3 {
    color: #403f3f;
    font-size: 16px;
}
.details {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    display: table;
    margin: auto;
    border: 2px solid #e37181;
    border-top: none;
}
.details h2 {
    font-weight: 500;
    font-family: sans-serif;
    font-size: 32px;
    color: #e37181;
}
.details h3 {
    margin-bottom: -10px;
    margin-top: -22px;
    font-family: sans-serif;
    font-size: 17px;
    color: #9f3666;
}
.details p {
    color: #626262;
    font-weight: 600;
    font-size: 16px;
}

.link-list1 {
    margin-top: 10px;
    border-radius: 14px;
    background-color: #e37181;
    color: white;
    padding: 2px;
}
.link-list {
    justify-content: space-evenly;
    display: flex;
    margin-top: 9px;
}
.language1 {
    margin-top: -22px;
    align-items: center;
    display: flex;
}
i.fa-solid.fa-square {
    color: #bf1f1f;
    margin-left: 7px;
    margin-top: 40px;
}


.box1 {
    display: flex;
    margin-left: 23px;
}
.link-sep {
    display: flex;
    align-items: center;
}
.link-sep h3 {
    margin-left: 7px;
}
.work-div {
    align-items: center;
    display: flex;
}

i.fa-solid.fa-briefcase{
    border: 1px solid #c74c62;
    color: #e56178;
    background-color: white;
    padding: 8px;
    border-radius: 10px;

}
i.fa-solid.fa-book{
    border: 1px solid #c74c62;
    color: #e56178;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}
i.fa-solid.fa-circle-user{
    border: 1px solid #c74c62;
    color: #e56178;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}
i.fa-solid.fa-laptop-file {
    border: 1px solid #c74c62;
    color: #e56178;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

i.fa-solid.fa-clipboard {
    color: #850606;
    padding: 4px;
    border-radius: 5px;
}
i.fa-solid.fa-location-dot {
    color: #850606;
  padding: 4px;
    border-radius: 5px;
}
i.fa-solid.fa-envelope {
    color: #850606;
    padding: 2px;
    border-radius: 5px;
}
i.fa-brands.fa-linkedin{
    color: #850606;
    padding: 4px;
    border-radius: 5px; 

}

i.fa-brands.fa-stack-overflow{
    color: #850606;
    padding: 4px;
    border-radius: 5px; 

}








@media(max-width:600px){
    
    .box h2 {
        margin-left: 0px;
    }
    .box {
        display: initial;
    }
    .right-container {
        width: 100%;
    }
    .left-container {
        margin-left: 0px;
        width: 100%;
    }
    .present {
        display: initial;
    }
    .container-experence {
        display: initial;
    }
    .link-list {
        display: initial;
    }
    .language1 {
        display: initial;
    }


.box1 {
    display: initial;
    margin-left: 0px;
}
}