.shadow {
    display: table;
    margin: auto;
    max-width: 1100px;
    border: 1px solid #efecec;
}

.homepage {
    margin: 5px;
}



.details h1 {
    color: #04598d;
    font-weight: 500;
    font-size: 31px;
}
.details h2 {
    margin-top: -20px;
    margin-bottom: -13px;
    font-weight: 500;
    color: #626262;
    font-size: 18px;
}

.details p {
    color: #424141;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
}
.border-lenght {
    border-bottom: 2px solid black;
}
.link-list ul {
    justify-content: space-evenly;
    display: flex;
}

.link-list li {
    color: #4a4a4a;
    font-size: 15px;
    list-style: none;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 12px;
}
.skill-list h2 {
    font-family: sans-serif;
    font-size: 22px;
    color: #04598d;
}
.list-skill1 {
    display: flex;
}
.list-skill1 h3 {
    border-radius: 7px;
    padding: 6px 14px;
    color: white;
    font-size: 15px;
    margin-top: -4px;
    margin-left: 12px;
    background-color: #04598d;
}
.work-text h2 {
    font-family: sans-serif;
    font-size: 22px;
    color: #04598d;

}
.work-text h3 {
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 17px;
}
.work-text h4 {
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-top: -13px;
}
.text-diff {
    justify-content: space-between;
    display: flex;
}
.text-diff h5 {
    color: grey;
    font-size: 14px;
    margin-top: -18px;
    margin-bottom: 0px;
}

ul.list1 li {
    font-weight: 600;
    color: #5a5959;
    margin-top: 8px;
    margin-left: -34px;
    list-style-type: none;
    font-size: 16px;
    font-family: serif;
}
.education-list h2 {
    font-family: sans-serif;
    font-size: 22px;
    color: #04598d;
    margin-top: 51px;

}
.education-list h3 {
    margin-top: -15px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
}
.education-list h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: -13px;
}
.education-list h5 {
    font-family: cursive;
    margin-top: -17px;
    color: gray;
    font-size: 14px;
}
.organise-list h2 {
    font-family: sans-serif;
    font-size: 22px;
    color: #04598d;
    margin-top: 32px;
}
.part-system {
    margin-top: -28px;
    display: flex;
    align-items: center;
   
}
.part-system h3{
    font-size: 15px;
    color: #3a3a3a;
    font-family: sans-serif;
    font-weight: 500;
   
}
.part-system h4 {
    font-size: 15px;
    color: #3a3a3a;
    font-family: sans-serif;
    font-weight: 500;   
    margin-left: 320px;
}
.organise-list h4 {
    margin-top: 6px;
    font-size: 15px;
    color: #3a3a3a;
    font-family: sans-serif;
    font-weight: 500;
}
.language-list h2 {
    font-family: sans-serif;
    font-size: 22px;
    color: #04598d;
    margin-top: 51px;   
}
.language {
    margin-top: -26px;
    display: flex;
}
.language-eng h3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #444343;
}
.language-spanish h3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #444343;
}
.language-eng h4 {
    margin-top: -9px;
    font-size: 15px;
    color: #5b8edd;
    font-family: cursive;
}
.language-spanish h4{
    margin-top: -9px;
    font-size: 15px;
    color: #5b8edd;  
    font-family: cursive;
   
}
.language-french h4{
    margin-top: -9px;
    font-size: 15px;
    color: #5b8edd;  
    font-family: cursive;
}

.language-french h3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #444343;
}
.language-french{
    margin-left: 21px;  
}
.language-spanish {
    margin-left: 21px;
}
i.fa-solid.fa-envelope {
    color: #04598d;
}
i.fa-solid.fa-location-dot {
    color: #04598d;
}


i.fa-solid.fa-s {
    color: #04598d;  
}
i.fa-solid.fa-clipboard {
    color: #04598d;     
}
i.fa-brands.fa-linkedin {
    color: #04598d;   
}
.link-sep {
    display: flex;
}



@media (max-width:600px){
    
    .language-spanish {
        margin-left: 0px;
    }
    .language-french{
        margin-left: 0px;  
    }

    .link-list ul {
        display: initial;
        margin-left: 0px;
    }
    .list-skill1 {
        display: initial;
    }
    .text-diff {
        display: initial;
    }
    .language {
        display: initial;
    }
    .text-diff h5 {
        margin-top: 0px;
    }
    .part-system h4 { 
        margin-left: 0px;
    }
    .link-list li {
        margin-left: 4px;
    }


}